<body>

<style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>

<h1>Dashboard</h1>

<br><br>
<a href="/admin/dashboard/users-list">Users Data</a>


<br><br>
<a href="/admin/dashboard/hostels-list">Hostels Data</a>

<br><br>


<a href="/admin/viewComplaints"> View Complaints</a>


<br><br>
<a href="/admin/home">Go to Home</a>



</body>
