<body>
    
<form action="" method="post">

    <input class="form-control" type="text" name="regNo" placeholder="Enter Registration No." required>
    <br>

   
    <input type="submit" class="btn btn btn-primary" value="Vacate">

</form>

</body>