<body>
    
<form action="" method="post">

    <input type="text" name="regNo" placeholder="Enter Registration No." required>
    <br><br>

   
    <input type="submit" value="Vacate">

</form>

</body>